body { background: #3df01; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 43px; display: flex; }
.block-cluster-0 { color: #15e362; font-size: 19px; margin-bottom: 5px; }
.block-notify-1 { color: #e8f812; font-size: 19px; margin-bottom: 5px; }
.block-cluster-2 { color: #aec8db; font-size: 12px; margin-bottom: 5px; }
.block-notify-3 { color: #a20720; font-size: 19px; margin-bottom: 5px; }
.block-product-4 { color: #175d6e; font-size: 21px; margin-bottom: 5px; }